* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
}

.main {
  max-width: 40rem;
  padding: 0 2rem;
  margin: 2rem auto;
}

.title {
  margin-bottom: 2rem;
}

.todos {
  margin-top: 1rem;
  border-top: 1px solid #EEE;
  padding-top: 1rem;
}

.todos ul {
  list-style-type: none;
  padding-left: 0;
}

.form {
  margin: 1rem 0;
}

.form label, .form input {
  display: block;
}


.form input {
  padding: 0.25rem;
  width: 100%;
  font-size: 100%;
}

.form button {
  font-size: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}
