<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Todos</title>{% endblock %}
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
</head>

<body>

  {% block heading %}
  <h1>Take note!</h1>
  {% endblock %}

  <section class='todos container'>
    {% block content %}{% endblock %}
  </section>
</body>

</html>
