* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* width: 800px; */
}

.page-header {
  background-color: #006400;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.nav-link {
  color: white;
}

.store-image {
  width: 50%;
  margin-bottom: 1rem;
}

.main {
  padding: 1rem;
}

.main p {
  margin-bottom: 1rem;
}
