/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* Specific element styles */

    /* Header styles */

.page-header {
  background-color: #006400;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.site-nav {
  list-style-type: none;
}

.site-nav li {
  display: inline;
  margin-right: 1rem;
}

.nav-link {
  color: white;
}

    /* Content styles */

.main {
  padding: 1rem;
}

.main p {
  margin-bottom: 1rem;
}

.store-image {
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  float: right;
}

.plants {
  display: flex;
  flex-wrap: wrap;
}

.plant {
  margin: 0 2rem 1rem 0;
  width: 300px;
}
