* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.page-header {
  background-color: #006400;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.site-nav {
  list-style-type: none;
}

.site-nav li {
  display: inline;
  margin-right: 1rem;
}

.nav-link {
  color: white;
}

.store-image {
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  float: right;
}

.main {
  padding: 1rem;
}

.main p {
  margin-bottom: 1rem;
}
